<div class="col-md-3"></div>
<div class="profile-form col-md-6">
  <%= form_for(profile) do |f| %>
    <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :position %>
      <%= f.text_field :position, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :home_address %>
      <%= f.text_area :home_address, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :security_question %>
      <%= f.select :security_question, options_for_select(Profile::SECURITY_QUESTIONS, f.object.security_question), {}, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :security_answer %>
      <%= f.text_field :security_answer, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div><br>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary form-control' %>
    </div>
  <% end %>
  <%= link_to 'Show', profile %> |
  <%= link_to 'Back', root_path %>
</div>
