<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @profile.company %>
</p>

<p>
  <strong>Position:</strong>
  <%= @profile.position %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @profile.home_address %>
</p>

<p>
  <strong>Security question:</strong>
  <%= @profile.security_question %>
</p>

<p>
  <strong>Security answer:</strong>
  <%= @profile.security_answer %>
</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>
