<p>
  <strong>Date:</strong>
  <%= schedule.start_date.to_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= schedule.location %>
</p>

<p>
  <strong>Role:</strong>
  <%= schedule.role %>
</p>

<p>
  <strong>Shift type:</strong>
  <%= schedule.shift_type %>
</p>

<p>
  <strong>Time slot 1:</strong>
  <%= schedule.time_slot_1 %>
</p>

<p>
  <strong>Time slot 2:</strong>
  <%= schedule.time_slot_2 %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= schedule.total_hours %>
</p>

<p>
  <strong>Amount:</strong>
  <%= schedule.amount %>
</p>
